<div class="card">
  <div class="card-content">
    <h4><%= @assignment.employee.proper_name %>'s Assignment</h4>

    <b>Store Name:&nbsp;&nbsp;</b><br>
    <%= link_to @assignment.store.name, store_path(@assignment.store) %><br />

    <b>Dates:&nbsp;&nbsp;</b><br>
    <%= @assignment.start_date.strftime("%-m/%-d/%y") %> - <%= @assignment.end_date.nil? ? 'Present' : @assignment.end_date.strftime("%-m/%-d/%y") %>

  </div>
</div>

<% unless @missed_shifts.empty? %>
<div class="card">
  <div class="card-content">
    <h5>Missed Shifts</h5>

    <table class="striped highlight">
      <thead>
        <th>Date</th>
        <th>Start Time</th>
        <th>Duration</th>
      </thead>
      <% @missed_shifts.each do |shift| %>
        <tr %>
          <td><%= link_to shift.date.strftime("%-m/%-d/%y"), shift_path(shift) %></td>
          <td><%= shift.start_time.strftime("%H:%M") %></td>
          <td><%= shift.duration %></td>
        </tr>
      <% end %>
    </table>
    <p class="supertiny"></p>
    <br />
  </div>

</div>

<% end %>

<% unless @pending_shifts.empty? %>
<div class="card">
  <div class="card-content">
    <h5>Upcoming Shifts</h5>

    <table class="striped highlight">
      <thead>
        <th>Date</th>
        <th>Start Time</th>
        <th>Duration</th>
      </thead>
      <% @pending_shifts.each do |shift| %>
        <tr %>
          <td><%= link_to shift.date.strftime("%-m/%-d/%y"), shift_path(shift) %></td>
          <td><%= shift.start_time.strftime("%H:%M") %></td>
          <td><%= shift.duration %></td>
        </tr>
      <% end %>
    </table>
    <p class="supertiny"></p>
    <br />
  </div>
  <div class="card-action">
    <%= link_to "New Shift", new_shift_path(assignment_id: @assignment.id) %>
  </div>
</div>
<% else %>
<div class="card">
  <div class="card-content">
  <p>There are no upcoming shifts at this time</p>
  </div>
  <div class="card grey lighten-3">

  <div class="card-action">
    <%= link_to "New Shift", new_shift_path(assignment_id: @assignment.id) %>
  </div>
</div>
</div>
<% end %>