<h4>Welcome, <%= current_user.proper_name %></h4>

<div class="container">
<div class="row">
  <div class="small-8 columns">
    <div class="card">
    <div class="card-content">
        <h4>Store Status</h4>

        <% if @active_stores.empty? %>
        <p>There are no active stores at this time.</p>
        <% else %>

        <table class="striped highlight">
            <thead>
            <th>Name</th>
            <th>Current Assignments</th>
            <th>Phone</th>
            <th class="align_center">Options</th>
            <th>Missed Shifts</th>
            <th>Generate Payroll</th>
            </thead>
            <% @active_stores.each_with_index do |store, i| %>
            <tr>
                <td><%= link_to store.name, store_path(store) %></td>
                <td><%= store.assignments.current.count %></td>
                <td><%= number_to_phone store.phone %></td>

                <td class="align_center">
                <%= link_to edit_store_path(store) do %>
                    <i class="material-icons">edit</i>
                <% end %>
                </td>

                <td><%= link_to @issues[i], store_path(store) %></td>
                <td><%= link_to "Generate", payroll_path(store.id) %></td>
            </tr>
            <% end %>
        </table>
        <p class="supertiny"></p>
        <br />
        <%= will_paginate @active_stores, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
        <% end %>
    </div>
    </div>
</div>


<div class="small-8 columns">
    <div class="card">
    <div class="card-content">
        <h4>Underage Workers (Below 18)</h4>

        <% if @underage.empty? %>
        <p>There are no underaged workers at this time.</p>
        <% else %>

        <table class="striped highlight">
            <thead>
            <th>Name</th>
            <th>Current Assignments</th>
            <th>Phone</th>
            <th class="align_center">Options</th>
            </thead>
            <% @underage.each do |employee| %>
            <tr>
                <td><%= link_to employee.name, employee_path(employee) %></td>
                <td><%= link_to employee.current_assignment.store.name, assignment_path(employee.current_assignment) %></td>
                <td><%= number_to_phone employee.phone %></td>

                <td class="align_center">
                <%= link_to edit_employee_path(employee) do %>
                    <i class="material-icons">edit</i>
                <% end %>
                <% if can? :destroy, employee %>
              <%= link_to(employee_path(employee), method: :delete, data: { confirm: 'Are you sure you wish to delete this employee?' }) do %>
                  <i class="material-icons">delete</i>
              <% end %>
            <% end %>
                </td>

            </tr>
            <% end %>
        </table>
        <p class="supertiny"></p>
        <br />
        <% end %>
    </div>
    </div>
</div>
</div>
</div>