<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Profile', employee_path(current_user) %></li>
      <li><%= link_to 'Your Store', store_path(current_user.current_assignment.store) %></li>
      <li><%= link_to 'Your Employees', employees_path %></li>
      <li><%= link_to 'Assignments', assignments_path %></li>
      <li><%= link_to 'Shifts', shifts_path %></li>
      <li><%= link_to 'Jobs', jobs_path %></li>
      <li><%= link_to "Pay Report", payroll_path(current_user) %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>
