


<h2>A&M Creamery Home</h2>


<div class="container">
<div class="row">
  <div class="small-8 columns">
    <div class="card">
    <div class="card-content">
    <%= image_tag 'ice-cream-sundae.jpg', class: 'image-left' %>

    <br><br>
    <p>Welcome to A&M Creamery, short for Alex and Mark Creamery. Our store is famous for its delicious ice cream and unique flavors reflecting our home city of Pittsburgh. Feel free to stop by one of our 7 stores.
        </p>
        <br><br>
        <h4>Come Visit a Store!</h4>

        <% if @active_stores.empty? %>
        <p>There are no active stores at this time.</p>
        <% else %>

        <table class="striped highlight">
            <thead>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            </thead>
            <% @active_stores.each do |store| %>
            <tr>
                <td><%= store.name %></td>
                <td><%= number_to_phone store.phone %></td>
                <td><%= store.street %> <%= store.city %>, <%= store.state %> <%= store.zip %></td>

            </tr>
            <% end %>
        </table>
        <p class="supertiny"></p>
        <br />
        <% end %>
    </div>
    </div>
</div>
</div>
</div>
	
<%# render :partial => 'general_home' %>

